@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');  /*'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Righteous&display=swap');  /* 'Righteous', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap'); /*'Sarala', sans-serif;*/

:root{

    --cor1: #400CED;
    --cor1: #7A0CF7;
    --cor2: #9D00E0;
    --cor3: #EA00FA;
    --cor4: #eb40b5;

    --fonte1: 'Montserrat', sans-serif;
    --fonte2: 'Righteous', cursive;
    --fonte3: 'Sarala', sans-serif;
}

a.externo::after{
    content: '\00A0\1F517';
}



*{
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 19px;
    font-family: sans-serif;
    text-decoration: none;
}

header{
    padding-top: 20px;
    background: var(--cor1);
    margin: auto;
    min-height: 97px;
    text-align: center;
    padding-left: 20px ;
    transition-duration: 1.5s;
    box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.329);
}

picture > img{
    padding-top: 30px;
    width: 60px;
    padding: 10px;
}

header  > h1{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 35px;
    font-family: var(--fonte1);
}

nav{
    padding: 11px;
}

nav > a{
    color: white;
    font-size: 20px;
    font-family: var(--fonte2);
    gap: 30px;
    margin: 5px;
    padding: 10px 12px;
    transition-duration: 0.3s;
}

nav > a:hover{
    border-radius: 11px;
    color: white;
    background-color: var(--cor4);
}

main{
    
    min-width: 300px;
    max-width: 980px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(224, 207, 207, 0.068);
    box-shadow: 0px 13px -2px  black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.subtitulo{
    font-size: 20px;
    text-align: center;
    font-family: var(--fonte3);
    padding: 5px;
    background: linear-gradient(to right , var(--cor1) , transparent);
}
section > h2{
    font-family: var(--fonte1);
    padding: 10px;
    text-align: center;
}


main p{
    font-family: var(--fonte1);
    font-weight: 400;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong{
    font-weight: bold;
    color: var(--cor1);
    padding: 2px 6px;
}

main a{
    font-family: var(--fonte2);
    color:var(--cor1);
    border-radius: 2.8px;
    padding: 6px 5px;
}

main a:hover{
    color: white;
    background-color: var(--cor3);
    transition-duration: 0.6px;
    text-decoration: underline;
}

main img{
    width: 100%;
}

.imagem{
    width: 150px;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58.3%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90%;
}

footer {
    padding: 7px;
    text-align: center;
    background-color: var(--cor2);
}

footer p {
    font-size: 15px;
    font-family: var(--fonte1);
    color: white;
}

.menu{
    display: flex;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

.menu.item{
    color: white;
}